<%- include('partials/head', {current: '/pizzas'}); %>

<h2>Onze pizza's</h2>

<div class="pizzas">
<% pizzas.forEach(function(pizza) { %>
  <article>
    <h2><a href="/pizzas/<%= pizza.id %>"><%= pizza.name %></a></h2>
    <p>€<%= pizza.price %></p>
    <% if (pizza.image) { %>
      <picture>
        <source srcset="https://fdnd-agency.directus.app/assets/<%= pizza.image.id %>?format=avif" type="image/avif">
        <source srcset="https://fdnd-agency.directus.app/assets/<%= pizza.image.id %>?format=webp" type="image/webp">
        <img src="https://fdnd-agency.directus.app/assets/<%= pizza.image.id %>" width="<%= pizza.image.width %>" height="<%= pizza.image.height %>">
      </picture>
    <% } %>

    <form method="post" action="/winkelmandje" class="bestel-maar">
      <input type="hidden" name="bestelling" value="<%= pizza.name %> €<%= pizza.price %>">
      <button type="submit">Bestel</button>
    </form>

  </article>
<% }) %>
</div>

<%- include('partials/foot'); %>