<%- include('partials/head', {current: '/pizzas'}); %>

<h2><%= pizza.name %></h2>

<p>€<%= pizza.price %></p>
<% if (pizza.image) { %>
  <img src="https://fdnd-agency.directus.app/assets/<%= pizza.image.id %>" width="<%= pizza.image.width %>" height="<%= pizza.image.height %>">
<% } %>
<%- pizza.description %>

<form method="post" action="/winkelmandje" class="bestel-maar">
  <input type="hidden" name="bestelling" value="<%= pizza.name %> €<%= pizza.price %>">
  <button type="submit">Bestel</button>
</form>

<%- include('partials/foot'); %>